
include ../button/button.pug

mixin dropdown(config = {})
  - defaultConfig = {label: 'dropdown', placeholder: 'placeholder', name: 'dropdown', items: [{text: 'item1', group: 'item2'}, {text: 'item2'}]};
  - config = Object.assign(defaultConfig, config);
  .dropdown(name = config.name)
    .dropdown__label #{config.label}
    input.dropdown__input(type = 'text', placeholder = config.placeholder, readonly)
    .dropdown__menu.dropdown__menu_hidden
      .dropdown__list
        each item in config.items
          .dropdown__item
            .dropdown__text #{item.text}
            .dropdown__counter-bar
              button.dropdown__button.dropdown__button_disabled(type="button" name="minus" disabled="true") -
              .dropdown__counter(name = item.group ? item.group : item.text) 0
              button.dropdown__button(type="button" name="plus") +
      .dropdown__buttons-bar
        +button({text: 'Очистить', name: 'clear', mod: ['disabled']})
        +button({text: 'Применить', name: 'apply'})