
.rating {
  width: 12em;
  display: flex;
  //letter-spacing : -.36em;
  position: relative;
  font-size: 10px;
  &__star {
    content: "";
    height: 2.4em;
    width: 2.4em;
    background-image: url('./img/star_border.svg');
    background-position: center center;
    background-repeat: no-repeat;
    &_checked {
      background-image: url('./img/star.svg');
    }
  }
}