@import '../../theme/colors.scss';

$nextButton: "data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.578125 1.90527L1.98438 0.499024L7.98438 6.49902L1.98438 12.499L0.578125 11.0928L5.17188 6.49902L0.578125 1.90527Z' fill='white'/%3E%3C/svg%3E%0A";

$prevButton: "data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.42188 11.0928L6.01563 12.499L0.0156253 6.49902L6.01563 0.499024L7.42188 1.90527L2.82813 6.49902L7.42188 11.0928Z' fill='white'/%3E%3C/svg%3E%0A";

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 83.4em;
  font-size: 10px;
  .swiper {
    border-radius: 0.4em 0.4em 0 0;
    width: 100%;
    height: 100%;
    &:hover .swiper-slide {
      &::before {
        opacity: 1;
      }      
    }
    &-slide {
      min-height: 15em;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 16%), 
                    linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 16%);
        opacity: 0;
        transition: 0.5s; 
        z-index: 1;
      }
    }
    &-wrapper {
      height: 100%;
    }
    img {
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }
    &:hover .swiper-button-next {
      opacity: 1;
      transition: .5s;
      transition-property: opacity;
    }
    &:hover .swiper-button-prev {
      opacity: 1;
      transition: .5s;
      transition-property: opacity;
    }
    &-button {
      transition: .5s;
      transition-property: opacity;
      opacity: 0;
      width: 4.4em;
      height: 4.4em;
      background-repeat: no-repeat;
      background-position: center, center;
      &-next {
        right: 0;
        background-image: url($nextButton);
      }
      &-prev {
        left: 0;
        background-image: url($prevButton);
      }
      &::after {
        display: none;
      }
    }   
    
    &-pagination {
      position: absolute;
      z-index: 10;
      text-align: right;
      bottom: 1.5em;
      right: 1.3em;
      width: auto;
      &-bullet {
        margin: 0 0.2em;
        cursor: pointer;
        display: inline-block;
        border-radius: 50%;
        height: 0.8em;
        width: 0.8em;
        box-sizing: border-box;
        background: none;
        border: 0.1em solid #FFFFFF;
        &-active {
          transition: .5s;
          transition-property: background-color, box-shadow;
          background-color: white;
          box-shadow: 0em 0.5em 0.5em 0em #1F20414D;
        }
      }
    }
    max-height: 15em;
  }
  &__element {
    width: 27em;
    border-radius: 0.4em;
  }
  &__elementGlue {
    &:first-child {
      border-bottom: 0.1em solid $text_color05;
    }
    /*&:last-child {
      align-items: stretch;
    }*/
    display: flex;
    justify-content: space-between;
    height: 2.4em;
    align-items: center;
    padding-top: 0.8em;
    padding-bottom: 1em;
  }
  &__elementWrapper {
    padding: 2em;
  }
  &__elementText {
    //display: flex;
    font-size: 1.4em;
    line-height: 1.0em;
    color: $text_color50;
    /*span {
      display: flex;
      align-items: ;
      height: 24px;
      vertical-align: bottom;
    }*/
    .width {
      &_bold {
        font-weight: 700;
      }
    }
    .color {
      &_primary {
        color: $primary_color;
        text-transform: uppercase;
      }
      &_black {
        color: $text_color;
      }
    }
    .size {
      &_large {
        font-size: 1.3571em;
        line-height: 0.8571em;
      }
      &_small {
        font-size: 0.8571em;
        line-height: 1.1429em;
      }
    }
  }
}