mixin chart()
  .chart
      .chart__wrapper
        canvas.chart__canvas
        .chart__text
          span.chart__number 260
          span.chart__sign голосов
      .chart__legend
        .chart__label.chart__label_theme_excellent Великолепно
        .chart__label.chart__label_theme_good Хорошо
        .chart__label.chart__label_theme_fair Удовлетворительно
        .chart__label.chart__label_theme_bad Разочарован