@import '../../theme/colors.scss';


.form {
  .button {
    background: none;
    color: $primary_color;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
  }
  .button-clear_hide {
    opacity: 0; 
  }
  .pmu-div {
    position: absolute;
    top: 44px;
    border					: 1px solid $text_color25;
    border-radius: 4px;
    box-sizing: border-box;
    }
  .pmu-buttons-bar {
    display: flex;
    //flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 1.429em;
    padding-right: 1.429em;
    padding-bottom: 1.429em;
    
  }
  .pmu-div_hidden {
    display: none;
  }
  //position: relative;
  color: $text_color75;
  &__text-field {
    //color: $text_color75;
    /*border: 1px solid $text_color25;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text_color75;
    //padding: 12px 15px;
    //margin-top: 5px;

    &:focus, &:hover{
      border-color: $text_color50;
      //color: $text_color75;
    }*/
    &::placeholder {
      color: $text_color25; 
    }
  }
  &__dropdown {
    &_date-dropdown {
      width: 150px;
    }
    
    cursor: pointer;
    &::after {

    }
    background-image: url(./img/expand_more_50.svg);
    background-repeat: no-repeat;
    background-position: top 17px right 15px;
    &:focus{
      //border-color: $color-ds50;
      //color: $color-ds75;
      background-image: url(./img/expand_more_75.svg);
      //background-opacity: 0.2;
    }
  }
  &__dropdown-menu {
    
    display: none;
    flex-direction: column;
    box-sizing: border-box;

    //background-color: RED;
    gap: 7px;
    width: 320px;

    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 15px;

    border: 1px solid $text_color25;
    border-radius: 4px;

  }
  &__date-dropdown-glow {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 320px;
  }
  &__dropdown-menu-el {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    font-weight: bold;
    color: $text_color;
    text-transform: uppercase;
    
  }
  &__dropdown-menu-button {
    background-color: transparent;
    border: 1px solid $text_color50;
    //border-radius: 200px;
    color: $text_color50;
    height: 30px;
    width: 30px;
    border-radius: 22px;
    &_disabled {
      border-color: $text_color25;
      color: $text_color25;
    }
  }
  &__dropdown-menu-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //flex-direction: row;
    width: 92px;
    /*p {
      flex-grow: 1;
    }
    button {
      flex-grow: 1;
    }*/
    //margin-left: ;
  }
}