@import '../../theme/colors.scss';


.form {
  width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .form__label {
      margin-bottom: 0px;
    }
  }
  &__title {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: $text_color;
  }
  &__button {
    //width: 100px;
    background: none;
    color: $primary_color;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    &:active {
      color: $text_color50;
    }
    &_mod {
      text-align: center;
      width: 100px;
      height: 44px;
      border: solid 2px transparent;
      border-radius: 22px;
      background-origin: border-box;
    }
    &_theme_border {
      background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-clip: padding-box, border-box;
      background-origin: border-box;
      &:active {
        color: $primary_color;
        background-image: linear-gradient(white, white), linear-gradient(180deg, transparentize(#BC9CFF, 0.5) 0%, transparentize(#8BA4F9, 0.5) 100%);
      }
    }
    &_theme_fill {
      position: relative;
      color: white;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-clip: border-box;
      background-origin: border-box;
      &:active {
        color: white;
        background-image: linear-gradient(180deg, transparentize(#BC9CFF, 0.5) 0%, transparentize(#8BA4F9, 0.5) 100%);
      }
    }
    &_theme_farr {
      width: 320px;

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: 0;
        height: 44px;
        width: 44px;
        background-image: url("./img/arrow_forward_white.svg");
        background-position: center center;
        background-repeat: no-repeat;
      }

    }
  }
  .button-clear_hide {
    opacity: 0; 
  }
  .pmu-plug {
    position: relative;
  }
  .pmu-div {
    background-color: white;
    position: absolute;
    z-index: 2;
    //top: 44px;
    top: 0;
    border					: 1px solid $text_color25;
    border-radius: 4px;
    box-sizing: border-box;
    }
  .pmu-buttons-bar {
    display: flex;
    //flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 1.429em;
    padding-right: 1.429em;
    padding-bottom: 1.429em;
    
  }
  .pmu-div_hidden {
    display: none;
  }
  color: $text_color75;
  &__text-field {
    //color: $text_color75;
    /*border: 1px solid $text_color25;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text_color75;
    //padding: 12px 15px;
    //margin-top: 5px;

    &:focus, &:hover{
      border-color: $text_color50;
      //color: $text_color75;
    }*/
    &_subscr {
      padding-right: 44px;
      width: 100%;
    }
    &::placeholder {
      color: $text_color25; 
    }
    width: 320px;
  height: 44px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;

  border: 1px solid $text_color25;
  border-radius: 4px;
  box-sizing: border-box;
  color: $text_color75;
  //padding: 12px 15px;
  //margin-top: 5px;

  &:focus, &:hover{
    border-color: $text_color50;
    //color: $text_color75;
  }
  &::placeholder {
    color: $text_color25; 
  }
  }
  &__dropdown {
    text-overflow: ellipsis;
    //width: 200px;
    padding-right: 40px;
    //size: 10px;
    &_date-dropdown-begin-end {
      width: 100%;
    }
    &_date {
      width: 100%;//10.72em;
    }
    cursor: pointer;
    background-image: url(./img/expand_more_50.svg);
    background-repeat: no-repeat;
    background-position: top 17px right 15px;
    &:focus{
      background-image: url(./img/expand_more_75.svg);
    }
  }
  &__date-dropdowns {
    width: 320px;
  }
  &__date-dropdown {
    width: 100%;
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: $text_color;
    text-transform: uppercase;
  }
  &__dropdown-with-menu {
    position: relative;
  }
  &__dropdown-menu {
    position: absolute;
    background-color: white;
    &_hidden {
      display: none;
    }
    .pmu-buttons-bar {
      display: flex;
      //flex-direction: row-reverse;
      justify-content: space-between;
      padding-left: 0em;
      padding-right: 0em;
      padding-top: 0.858em;
      padding-bottom: 0.93em;
      .button-clear {
        padding-left: 0;
      }
      
    }
   	z-index: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    //background-color: RED;
    gap: 7px;
    width: 320px;
    

    padding-top: 7px;
    padding-right: 7px;
    //padding-bottom: 7px;
    padding-left: 15px;

    border: 1px solid $text_color25;
    border-radius: 4px;

  }
  &__date-dropdown-label {
    display: flex;
    justify-content: space-between;
  }
  &__date-dropdown-glue {
    //position: relative;
    //top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1.5em;
    //grid-gap: 20px;
    //width: 320px;
  }
  &__dropdown-menu-el {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    font-weight: bold;
    color: $text_color;
    text-transform: uppercase;
    
  }
  &__dropdown-menu-button {
    background-color: transparent;
    border: 1px solid $text_color50;
    //border-radius: 200px;
    color: $text_color50;
    height: 30px;
    width: 30px;
    border-radius: 22px;
    &_disabled {
      border-color: $text_color25;
      color: $text_color25;
    }
  }
  &__dropdown-menu-counter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //flex-direction: row;
    width: 92px;
    /*p {
      flex-grow: 1;
    }
    button {
      flex-grow: 1;
    }*/
    //margin-left: ;
  }
  &__subscrSubmit {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    border: none;
    background: url('./img/arrow_forward.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  &__text-field-div {
    width: 320px;
  }
  &__text-field-glue {
    position: relative;
  }
  &__checkbox-list-btn {
    width: 320px;
    .form__label {
      font-family: 'Montserrat', Arial, sans-serif;
      text-align: left;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 0;
      margin-bottom: 0;
      border: 0;
      width: 100%;
      background: none;
      background-image: url('./img/expand_more_50.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 12px) center;
      //background-position-x: 3px right;
      //background-position-y: center;
      /*&::selection {
        background: transparent;
      }*/
      &_up {
        background-image: url('./img/expand_up_75.svg');
      }

    }
    
  }
  &__checkbox-list-el {
    cursor: pointer;
    display: flex;
    position: relative;
    gap: 9.74px;
  }
  &__checkbox:checked + &__checkbox-list-label::before {
    //background-color: blue;
    background-image: url('./img/checkbox_checked.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-color: $primary_color;
    //opacity: 1;
  }
  &__checkbox-list-label {
    line-height: 18px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      //background-color: red;
      border: 1px solid $text_color25;
      border-radius: 4px;
      opacity: 1;
    }
  }
  &__checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    //border: 10px solid $text_color25;;
    //border-radius: 4px;
    z-index: -1;
    opacity: 0;
  }
  &__checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_hidden {
      display: none;
    }
  }
  &__radioButtonsDiv {
    width: 320px;
  }
  &__radioButtons {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  &__radioButton {
    position: relative;
    input[type = "radio"] {
      height: 20px;
      width: 20px;
      opacity: 0;
    }
    input[type = "radio"]:checked{
      + .form__rblabel::before {
      //box-shadow: 0 0 0 -1px #fff, 0 0 0 12px #888;
      //width: 19px;
      //height: 19px;
      //outline: solid 1px $primary_color#888;
      background-image: url('./img/radioButtonChecked.svg');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      border-color: $primary_color;
      //background: black;
      //background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%), 
      //radial-gradient(white, transparent 100%, white);
      //background-size: 50% 50%, 100%;
      //background-repeat: no-repeat;
      //background-position: center, center;
      }
      + .form__rblabel {
        color: $text_color75;
      }
    } 
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__rblabel {
    //font-family: Montserrat;
   // font-size: 14px;
    //font-style: normal;
    //font-weight: 400;
    //line-height: 24px;
    //letter-spacing: 0em;
    //text-align: left;
    color: $text_color50;
    &::before {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $text_color25;
      border-radius: 10px;
    }
  }
  &__toggleButtonsDiv {

  }
  &__toggleButtons { 
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__toggleButton {
    display: flex;
    position: relative;

  }
  &__tblabel {
    padding-left: 30px;
  }
  &__tblabel::before {
    transition: .4s;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border: 1px solid $text_color25;
    border-radius: 10px;
    background-image: url('./img/toggle.svg');
    background-size: 0.8571428571428571em 0.9230769230769231em;
    background-repeat: no-repeat;
    background-position: center left 4px;
  }
  &__checkbox:checked + &__tblabel::before {
    transition: .4s;
    background-image: url('./img/toggleChecked.svg');
    background-repeat: no-repeat;
    background-position: center right 4px;
    border-color: $primary_color;
  }
  &__slider {
    //padding-left: 50px;
    width: 320px;
  }
  &__sliderBar {
    display: flex;
    justify-content: space-between;
  }
  &__sliderRange {
    color: $text_color50;
  }
  &__sliderDiv {
    .noUi-handle {
      background: linear-gradient(180deg, $secondary_color 0%, $secondary_color_2 100%);
      width: 14px;
      height: 14px;
      border-radius: 10px;
      border: 2px solid #FFFFFF;
      box-shadow: none;
      top: -5px;
      //opacity: 0.3;
      right: -7px;
      //right: -10px;
      &::before {
        display: none;
        //background-color: red;
      }
      &:after {
        display: none;
      }
      
    }
    /*.noUi-handle-upper {
      right: 0px;
    }
    .noUi-handle-lower {
      
    }*/
    .noUi-touch-area {
      display: none;
    }
    .noUi-base {
      //width: 100px;
      height: 6px;
      //width: 12px;
      border: 1px solid #1F204140;
      border-radius: 3px;
    }
    border: none;
    background: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .noUi-connect {
      background: linear-gradient(180deg, $secondary_color 0%, $secondary_color_2 100%);
            //border: none;
      //box-sizing: content-box;
    }
    .noUi-connects {
      height: 6px;
      //position: absolute;
      top: -1px;
    }
    //.noUi-target {
      //background-color: red;
      //height: 6px;
      //width: 12px;
      //border-radius: 3px;
      //vertical-align: middle;
    //}
  }
  &__richCheckboxLabel {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: $text_color75;
  }
  &__richCheckboxText {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: $text_color50;
  }
}