@import '../../theme/colors.scss';

$toogle: "data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.557617' width='12' height='12' rx='6' fill='#{encodecolor($text_color)}' fill-opacity='0.25'/%3E%3C/svg%3E";

$toogle_checked: "data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.557617' width='12' height='12' rx='6' fill='url(%23paint0_linear_1_303)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_303' x1='6' y1='0.557617' x2='6' y2='12.5576' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='#{encodecolor($primary_color)}'/%3E%3Cstop offset='1' stop-color='#{encodecolor($primary_color_2)}'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A";

.toggle-button {
  user-select: none;
  width: 100%;
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: $text_color;
    text-transform: uppercase;
  }
  &__button {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: -1;
    opacity: 0;
  }
  &__glue { 
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  &__text {
    padding-left: 30px;
  }
  &__text::before {
    transition: .4s;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border: 1px solid $text_color25;
    border-radius: 10px;
    background-image: url($toogle);
    background-size: 0.8571428571428571em 0.9230769230769231em;
    background-repeat: no-repeat;
    background-position: center left 4px;
  }
  &__button:checked + &__text::before {
    transition: .4s;
    background-image: url($toogle_checked);
    background-repeat: no-repeat;
    background-position: center right 4px;
    border-color: $primary_color;
  }
}