mixin toggle-button(config = {})
  - defaultConfig = {label: 'toggle-button', name: 'toggle-button', items: ['item']};
  - config = Object.assign(defaultConfig, config);
  .toggle-button
    if (config.label) 
      .toggle-button__label #{config.label}
    .toggle-button__glue
      each item in config.items
        label.toggle-button__item
          input.toggle-button__button(type = "checkbox", name = config.name)
          .toggle-button__text #{item}