include ../calendar/calendar.pug

mixin date-dropdown(label1 = 'Begin', label2 = 'End')
  .date-dropdown
    .date-dropdown__glue
      .date-dropdown__field
        label.date-dropdown__label #{label1}
        input.date-dropdown__input(type='text', name='begin', placeholder='ДД.ММ.ГГГГ', readonly)
      .date-dropdown__field
        label.date-dropdown__label #{label2}
        input.date-dropdown__input(type="text", name='end', placeholder='ДД.ММ.ГГГГ', readonly)
    +calendar()