include ../../components/form/form.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 h1 title 
    h2 h2 title
    h3 Label title
    p Test my color text
    form.form
      +text-field(['Text-field', 'some-text', 'placeholder', ['1', '2']])
      +dropdown-with-menu(['Text-field', 'some-text', 'placeholder', ['1', '2']], [['Спальни', 'Кровати', 'Ванные комнаты']])
      ///+dropdown(['Text-field', 'some-text', 'placeholder', ['1', '2']])
      //+dropdown-menu([['Спальни', 'Кровати', 'Ванные комнаты']])
    p New text
