include ../button/button.pug

mixin calendar()
  .calendar
    .calendar__body.calendar__body_hidden
      .calendar__buttonsBar
        +button({text: 'Очистить', name: 'clear', mod: ['disabled']})
        +button({text: 'Применить', name: 'apply'})