@import './colors.scss';

html {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: white;
  color: $text_color75;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-weight: bold;
  //bold = 700
  font-size: 24px;
  color: $text_color;
}

h2 {
  font-size: 19px;
  font-weight: bold;
  color: $text_color;
}

h3 {
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: bold;
  color: $text_color;
  text-transform: uppercase;
}

input {
  width: 320px;
  height: 44px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;

  border: 1px solid $text_color25;
  border-radius: 4px;
  box-sizing: border-box;
  color: $text_color75;
  //padding: 12px 15px;
  //margin-top: 5px;

  &:focus, &:hover{
    border-color: $text_color50;
    //color: $text_color75;
  }
}