@import './colors.scss';

html {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: white;
  color: $text_color75;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-weight: bold;
  //bold = 700
  font-size: 24px;
  color: $text_color;
}

h2 {
  font-size: 19px;
  font-weight: bold;
  color: $text_color;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  color: $text_color;
  text-transform: uppercase;
}