.bulletList {
  h3 {
    margin-bottom: 16px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      padding-left: 21px;
      line-height: 24px;
      position: relative;
      &::before {
        background-image: url('./img/ellipse.svg');
        content: '';
        height: 10px;
        width: 11px;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }
  }
}