mixin bulletList(label = 'Bullet list', descriptions = ['first', 'second', 'third'])
  .bulletList
    h3 #{label}
    ul
      each des in descriptions
        li #{des}
          //.form__richCheckboxLabel #{des}