mixin header()
  .headerPlug
  header
    .header
      nav
        ul
          li
            a.header__(href="") О нас
          li
            a.header__(href="") Услуги
          li
            a.header__(href="") Вакансии
          li
            a.header__(href="") Новости
          li
            a.header__(href="") Соглашения
      a.button.button_mod.button_theme_border(href="") Войти
      a.button.button_mod.button_theme_fill(href="") Зарегестрироваться