mixin room-details(config = {})
  - defultDetails = {label: 'detail-title', text: 'detail-text', theme: 'example',}
  - defaultConfig = {details: [{}, {}]};
  - config = Object.assign(defaultConfig, config);
  - for (let i = 0; i < config.details.length; i++) { 
  -  config.details[i] = Object.assign(Object.assign({}, defultDetails), config.details[i]);
  - }
  .roomDetails
    each detail in config.details
      .roomDetails__Glue(class = 'roomDetails__Glue_theme_' + detail.theme)
        .roomDetails__Label #{detail.label}
        .roomDetails__Text #{detail.text}
      .roomDetails__line