include ../../components/form/form.pug
include ../../components/roomDetails/roomDetails.pug
include ../../components/likeButton/likeButton.pug
include ../../components/rateButton/rateButton.pug
include ../../components/rating/rating.pug
include ../../components/bulletList/bulletList.pug
include ../../components/review/review.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body    
    +header
    .swiper
      .swiper-wrapper
        .swiper-slide
          img(src=require("./img/image3.png"), alt="")
          //.container Лучшие номера для вашей работы, отдыха и просто вдохновения
        .swiper-slide
          img(src=require("./img/image2.png"), alt="")
          //.container
        .swiper-slide
          img(src=require("./img/image.png"), alt="")
          //.container
      .container
        .swiper-text Лучшие номера для вашей работы, отдыха и просто вдохновения
    .content
      .container
        //img(src=require('./img/image3.png'), alt="sdfdsf") 
        //h1 h1 title 
        //h2 h2 title
        //h3 Label title
        //p Test my color text
        //form.form
          +text-field(['Text-field', 'some-text', 'placeholder', ['1', '2']])
          +dropdown-with-menu(['Text-field', 'some-text', 'placeholder'], [['Спальни', 'Кровати', 'Ванные комнаты']])

          +input-date(['Text-field', 'some-text',])

          +date-dropdown(['begin'])
          ///+dropdown(['Text-field', 'some-text', 'placeholder', ['1', '2']])
          //+dropdown-menu([['Спальни', 'Кровати', 'Ванные комнаты']])
          +subscrTextField(['subscription text field'])
          +exCheckboxList(['expandable checkbox list', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']])
          +checkboxList(['expandable checkbox list', ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']])
          //+radioButtons(['Radio Buttons', btlabels = ['Мужчина','Женщина']])

          +richCheckboxList('rich Checkbox Buttons',[['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.'], ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.']])
          button.form__button.form__button_theme_border.form__button_mod sdfdsasgsd
          button.form__button.form__button_theme_fill.form__button_mod fillif

        //p New text
        //+likeButton()
        //+rateButton()
        //+bulletList('bullet list',['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00'])
        //+slider("Range slider")
        //.dsfds(id="demo")
        //+roomDetails([[ ['roomDetails__Glue_inserEmoticon'], 'Комфорт', 'Шумопоглащающие стены'], [ ['roomDetails__Glue_locationCity'], 'Удобство', 'Окно в каждой из спален']])
        //+review('Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', '12', '../../theme/img/image.svg')

        form.form(action="")
          +formTitle('Найдём номера под ваши пожелания')
          +date-dropdowns(['Прибытие', 'Выезд'])
          +dropdown-with-menu(['Гости', 'some-text', 'Сколько гостей'], [['Взрослые', 'Дети', 'Младенцы']], "form__dropdown-with-menu_guest")
          button.form__button.form__button_mod.form__button_theme_fill.form__button_theme_farr Подобрать номер

        //form.form(action="")
          +formTitle('Регистрация акаунту')
          fieldset
            +textField('name', 'Имя')
            +textField('surname', 'Фамилие')
            +radioButtons(['Мужчина', 'Женщина'])
          +textField_maskedDate('Дата рождения')
          fieldset
            .form__label данные для входа в сервис
            +textField('e-mail', 'Email', 'email')
            +textField('password', 'Пароль')
            +toggleButton('Получать спецпредложения')
          button.form__button.form__button_mod.form__button_theme_fill.form__button_theme_farr Перейти к оплате
    +footer()