@import '../../theme/colors.scss';

.likeButton {
  border-radius: 1em;
  width: 4em;
  user-select: none;
  font-size: 10px;
  display: flex;
  position: relative;
  height: 2em;
  cursor: pointer;
  .lbCheckbox {
    opacity: 0;
    width: 1.2em;
    height: 2em;
  }
}
.lblabel {
  width: 2.8em;
  
  //padding: auto auto;
  text-align: center;
  vertical-align: middle;
  margin: auto 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  transition-property: color;
  color: $text_color25;
  transition-duration: .4s;
}

.lblabel::before {
  transition: .4s;
  width: 4em;
  height: 2em;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border: 0.1em solid $text_color25;
  border-radius: 1em;
  background-image: url('./img/likeBtn.svg');
  background-size: 1.2em 1.3em;
  background-repeat: no-repeat;
  background-position: center left 0.4em;
}
.lbCheckbox:checked + .lblabel::before {
  background-image: url('./img/likeBtnChecked.svg');
  background-repeat: no-repeat;
  border-color: $primary_color;
  animation: animateHeart .4s linear forwards 0s;
}
.lbCheckbox:checked + .lblabel {
  color: $primary_color;
  transition: .4s;
}

@keyframes animateHeart{
  0%{
    background-size: 0.6em 0.7em;
    background-position: center left 0.7em;  
  }
  40%{
    background-size: 1.4em 1.5em;
    background-position: center left 0.3em;  
  }
  100%{
    background-size: 1.2em 1.3em;
    background-position: center left 0.4em;    
  }
}