mixin rateButton()
  .rateButtons  
    input.rateButton(type="radio" name='star' id="star1")
    input.rateButton(type="radio" name='star' id="star2")
    input.rateButton(type="radio" name='star' id="star3")
    input.rateButton(type="radio" name='star' id="star4")
    input.rateButton(type="radio" name='star' id="star5")
    label.star(for="star1")
    label.star(for="star2")
    label.star(for="star3")
    label.star(for="star4")
    label.star(for="star5")