@import '../../theme/colors.scss';

.text-field {
  width: 100%;
  &__input {      
    height: 44px;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid $text_color25;
    border-radius: 4px;
    box-sizing: border-box;
    color: $text_color75;
    &:focus, &:hover{
      border-color: $text_color50;
    }
    &::placeholder {
      color: $text_color25; 
    }
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: $text_color;
    text-transform: uppercase;
  }
  box-sizing: border-box;
}
